<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.safermobile.sms"
      android:versionCode="3" android:versionName="0.0.2">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
    <activity android:name=".MainTabActivity"
                  android:label="@string/app_name"
                   android:theme="@android:style/Theme.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SMSSenderActivity"
                  android:label="@string/app_name">
        </activity>
        
          <activity android:name=".EditKeywordActivity"/>
 <receiver android:name=".SMSReceiver"> 
            <intent-filter> 
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" /> 
            </intent-filter> 
        </receiver>
        
         <receiver android:name=".SMSDataReceiver"> 
            
            <intent-filter android:priority="10">
        <action android:name="android.intent.action.DATA_SMS_RECEIVED" />
            <data android:scheme="sms" />
            <data android:port="7027" />
            </intent-filter> 
        </receiver>
        
          <activity android:name=".SettingsActivity"/>
          <activity android:name=".LogViewActivity"/>
        
        
    </application>
    
    
        
    <uses-permission android:name="android.permission.SEND_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS">
    </uses-permission>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
